
.avatar {
    text-align: center;
}
.product-card-img-avatar {
    margin-bottom: 1.3rem;
    width: 5.7rem;
    height: 5.7rem;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-name {
    font-size: 1.2rem;
}